{
  "presets": [
    "@babel/preset-env",
    "@babel/preset-typescript"
  ],
  "env": {
    "development": {
      "presets": []
    }
  },
  "plugins": [
    [
      "@babel/plugin-proposal-decorators",
      {
        "legacy": true
      }
    ],
    [
      "@babel/plugin-proposal-class-properties",
      {
        "loose": false
      }
    ],
    "@vue/babel-plugin-jsx"
  ]
}
